mast, footer {display:block;}
mast, headline, author, dateCreated {text-align: left;display:block;}
mast a {font-size: 120%;}

body {font-family:'Georgia', serif;}

h1, h2, h3, h4  { font-weight: normal;}

headline {display:block;font-size: 2em;}

a {color: blue; text-decoration: underline;} a:hover {color:red;}


footer {
  margin-top: 20px;
  margin-bottom: 30px;
  border-top: 1px solid #ccc;
  padding-top:20px;
}


