
mast,headline,author,dateCreated, author, .center {
  text-align: center;display:block;
}

body {
  font-family: 'Times New Roman', 'Times Roman', 'times', serif;
  font-size: 18px;
}

headline {
  color: #222;
  font-size: 2.4em;
  margin-top:30px;
  letter-spacing: -1.3px;
}

dateCreated {
  font-family: 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
  font-size: .7em;
}

a {color: #222;} a:hover {color:gray;}

h1, h2, h3, h4, headline {
  font-family: 'Georgia','Times New Roman',serif;
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

pre {
  font-weight: normal;  
  margin-bottom:2em;
  margin-top:2em;
  white-space: pre-wrap;  
  background: #e7e7e7;
  color: #000;
  padding: 2px 3px 3px 3px;
  white-space:pre-wrap;
  overflow:auto;
  line-height: 1em;
}

.codeblock, code {font-size: 13px; font-family: monospace;}

pre.code {
  font-weight:400;
  overflow: visible;
  padding-top: 1.2em;
  color: #000;
}

toc {
  font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;
  font-size: 0.9em;
  display:block;
  border-top: 4px solid #222;border-bottom: 4px solid #222;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  /*background: #ffffe6; */
}
toc ul {margin-top:0;padding-top:0;}
toc a {text-decoration:none;} toc a:hover {text-decoration:underline;background:#fff; color: #000;}
toc h2 { 
  /*padding-bottom: 5px;padding-left:0;padding-right:0; */
  text-transform: uppercase; font-family: sans-serif;
}
toc li {
  list-style: square;
  color: #CACACA;
}

#comment {
  display: block;
  font-family: sans-serif;
  font-size: 1.3em;  
  color: steelblue;
  margin-top: 30px;
  text-decoration:none;
}
#comment:hover {text-decoration: underline;}

footer {
  margin-top: 20px;
  margin-bottom: 30px;
  
  padding-top:20px;
}

@media (min-width: 550px) {
  .toc {
    column-count:2;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
  }
}
@media (min-width: 768px) {
  body {font-size:17px;}
  img {width:85%;}
  .toc {
    column-count:3;
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
  }
}
@media (min-width: 800px) {
/*  p, table, pre, pre.code, toc {margin-right:12px;margin-left:12px;} */
  body {font-size: 16px;}
  .toc {
    column-count:3;
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
  }
  img {width:80%;}
}
@media (min-width: 950px) {
  body {width:940px;margin-left:auto;margin-right:auto;}
  img {width: 70%;}
}