@import url(http://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Condensed:300,400);


mast, footer {display:block;}

mast a, footer a {color: #ccc;} mast a:hover, footer a:hover {color: #000;}

body {
  font-family: 'Roboto';
  font-size: 17px;
  width: 350px;
  margin-left:auto;
  margin-right:auto;
}

h1, h2, h3, h4, headline {
  font-family: 'Roboto Condensed','Georgia','Times New Roman',serif;
  font-weight: 400;
}

headline {
  display:block;
  color: #222;
  font-size: 2.4em;
  margin-top:30px;
  letter-spacing: -1.3px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #222;
}
a:hover {background: #f2f2f2;}


footer {
  margin-top: 20px;
  margin-bottom: 30px;
  border-top: 1px solid #ccc;
  padding-top:20px;
}


