---
layout: layout
title:  Tech Learning
---
<!--
<div class='feature-banner'>
  BUILD TECH SKILLS. NOW. QUICKLY. EFFECTIVELY.
</div>
-->
<style>
#outer {height:500px;}
  .hcenter {
  	height: 400px;
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
    text-align:center;
  }
</style>

<div id="outer">
<div class="hcenter" >
    
    Tutorials &rarr; &nbsp;
    <a href="/mobile-app-development-phonegap">PhoneGap</a> &nbsp; | &nbsp;
    <a href="/android-programming-tutorial">Android</a> &nbsp; | &nbsp;
    <a href="/javascript/javascript-introduction/">JavaScript</a> &nbsp; | &nbsp;
    <a href="/html5-what-you-will-need">HTML5</a><p/>

    Inquire about a training &rarr; 
    <a href="http://bit.ly/tlb-inquiry-form">(Inquiry Form)</a><p/>
    <a href="/archives">Archives</a>
  
</div>
</div>

{% include ga.html %}
{% include statcounter.html %}

<!--

<hr/>

<div id="feature">
  <div class='feature-title'>
    Server Side JS with NODE
  </div>
  <div class='feature-article'>
    This 
  </div>
</div>

-->
