* {
  font-family: 'Open Sans';
  font-size: .98em;
  background: #FFFFFF;
}

ol, li, p {
  line-height: 1.5em;
}

#shock-left {
  clear:both;
  font-size: 250%;
  font-weight:bold;
  letter-spacing: -1.5px;
  color: #004646;
  text-align: center;
  width: 100%;
  float:left;
  height: 5em;
  padding-top:10px;
  margin-top:50px;
}

  #shock-left a:link, #shock-left a:visited {
    color: #004646;
    border-bottom: 2px dotted #004646;
  }
  #shock-left a:hover {
    color: #009494;
    border-bottom: 2px solid #009494;
  }

#shock-right {
  font-size: 250%;
  font-weight:bold;
  letter-spacing: -1.5px;
  color: #004646;
  float:right;
  height: 250px;
  width:40%;
  padding-top:30px;
  text-align: right;
  margin-right:50px;
}

body {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

header {
  height:5em;
  margin-top:10px;
  border-bottom:1px dotted #009494;
}

#navleft a:link, #navleft a:visited {
  color: #004646;
  float:left;
  font-size:250%;
  font-weight:normal;
  margin-left:0px;
  font-family: 'PT Sans Narrow';
  padding-top:5px;  
}
  #navleft a:hover {
    color: #009494;
    border-bottom: 1px solid #009494;
  }

#navright a:link, #navright a:visited {
  padding-top:20px;
  padding-left:5px;
  padding-right:5px;
  float:right;
  font-size: 150%;
  font-family: 'PT Sans Narrow';
  color: #006D37;
  text-decoration:none;
  
}

  #navright a:hover {
    color: #009494;
    border-bottom:1px solid #009494;
  }

#spacer {clear:both;margin-bottom:50px;}

#inner {

}
footer {
  font-size: 120%;
  text-align: center;
  clear:both;
  display:block;
  font-size: 90%;
  margin-top: 100px;
  margin-bottom: 30px;
}

/* Headings and Titles */

h1, h2, h3 , #articletitle, #trainingtitle {
  font-family: 'Open Sans';
  color: #001e0f;
}

#trainingtitle {
  color: #004623;
  font-size: 350%;
  font-weight: bold;
  text-align: center;
  letter-spacing: -4px;
  padding-top: 20px;
}

#articletitle {
  font-size:350%; 
  font-weight: bold;
  color: #004646;
  margin-top:20px;
  letter-spacing: -4px;
  text-align: center;
}
h1 {font-size: 170%; font-weight:bold;}
h2 {font-size: 140%;}
h3 {font-size: 120%;}
h4 {font-size: 110%;}

/* LINKS */

a:link, a:visited {
  color: #004a94;
  text-decoration: none;
}

a:hover {
  color: #0072e3;
  border-bottom: 1px solid #0072e3;
}



/* OTHER BLOCKS */

#minitoc {

  color: #4E4E4E;
  width: 35%;
  float: right;
  margin-left:30px;
  
  margin-bottom:30px;
  padding-top: 10px;
  padding-bottom:20px;
  border: 3px solid #E8E8E8;  
  padding-left:10px;
  padding-right:20px;
    
  line-height:20px;   
}

#contentmeta {
  color: gray;
  text-align: center;
  margin-bottom:40px;
  letter-spacing: -.8px;
}

#sidebarright {
  float: right;
  width:300px;
  /* background: #FFFFC8; */
  border: 1px solid #FFA500;
  padding: 20px;
  margin-left: 20px;
}

/* PRE AND CODE AREA */


pre {

  margin-top: 15px;
  margin-bottom:15px;

  padding: 10px 5px 10px 15px;
  font-size: 75%;
  font-family: 'Source Code Pro';
  border: 2px solid #cacaca;
  background: white;

  /*
  border: 1px solid #DEDEDE;
  background: #F5F5F5;
  color: #000;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;  
  border-radius: 10px;
  */

}


pre code, .keyword, .directive, .type, 
          .string, .function, .class, 
          .reserved, .content, .comment, 
          .predefined-type, .preprocessor, .tag,
          .attribute-name, .include, .predefined-constant, 
          .local-variable, .key, .class, .instance-variable,
          .symbol, .constant, .inline, .line-numbers,
          .integer, .char, .float {

      font-family: 'Source Code Pro';

}

/* definition of styles for code highlighting */

.keyword, .key, .directive, .type, .reserved, .predefined-type, .tag, .class {
  color: #6e6eFF;
}

.predefined-constant {
  color: gray;
}

.line-numbers {

  font-size: 70%;
  padding-right: 10px;
  color: #8E8E8E;
  font-family: 'Source Code Pro', Courier, "Courier New", monospace;
}

.include, .preprocessor, .attribute-name {
  color: #CD7300;
}

.string {
  color: #6C0000;
}

.comment {
  color: : gray;
}

.function, .class  {
  color: #2828A8;
}

.local-variable {
  color: blue;
}




