
* {
  margin: 0;
  padding: 0;
 
	font-family: "Neuton", "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
	/*  font-family: "Georgia, Serif"; */
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	/*font-family: Arial, Helvetica, sans-serif;*/
	/*font-family: "Verdana", "Geneva", "sans-serif";*/
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 { 
	font-family: 'PT Sans Narrow',"Trebuchet MS", Helvetica, sans-serif;
}  

body {
		/*background: #F2F2F2;*/
}

#main {
  background: white;
  padding-left: auto;
  padding-right:auto;
  top: 40px;
  margin-top:20px;
	margin-left: auto;
	margin-right:auto;
	width: 750px;
}
	#main h1 {
  	font-family: "PT Sans Narrow", "Trebuchet MS", Helvetica, sans-serif;
  	font-size: 250%;
  	line-height: 40px;
  	font-weight:normal;
  	padding-top:20px;
  	/*letter-spacing: -2.5px;*/
	}

	#main h2 {
		font-family: "PT Sans Narrow","Trebuchet MS", Helvetica, sans-serif;
		font-size: 180%;
		font-weight:normal;
		color: #000000;
		padding-top:15px;
	}

	#main h3, #main h3 a:link {
		font-family: "PT Sans Narrow","Trebuchet MS", Helvetica, sans-serif;
		font-size: 120%;
		font-weight:normal;
		color: #000000;
		padding-top:10px;	
	}

	#main h4, #main h4 a:link {
		font-family: "PT Sans Narrow","Trebuchet MS", Helvetica, sans-serif;
		font-size: 110%;
		font-weight:normal;
		color: #000000;
		padding-top:10px;	
	}

	p {
		font-family: "Neuton", "Palatino Linotype", "Book Antiqua",serif;
		font-size:105%;
	}

	#main p {
  	margin: 25px 0;
  	line-height: 24px;
	}

	#main ul, #main ol {
  	margin-left: 20px;
  	margin-top: 5px; 
	}
	#main li {
		font-size:105%;
  	line-height: 26px;
	}

	#main ul li {
  	list-style-type: square;
	}

	Main ul li:before {
	 	 color:#A5A1A0;
	  	content: "* ";
	}

#blogarchive{
	width:80%;
}

	#blogarchive p {
		margin-left: 15px;
	}

a {
  text-decoration: none;
 /* border-bottom: 1px dotted #1589FF;*/
 color:#1589FF;
}

	a:link, a:visited {
		color: #000000;
		border-bottom:1px solid #CACACA;
	}

	a:hover {
	 	background: #E4E4E4;
   	-moz-border-radius: 4px;
   	-webkit-border-radius: 4px;		
	}

		img a:link {
			border:0;
		}


	#nav a:link, #nav a:visited {
		color:black;
		padding-left:5px;
		font-family: Monaco, "Lucida Console", monospace;
		font-size:10px;
	}

	#nav a:hover {
		color: #B2B2B2;
	}

	.navhome, #articletitle {
  	font-family: "PT Sans Narrow","Trebuchet MS", Helvetica, sans-serif;
		font-size: 350%;
		letter-spacing:-3px;
	}

.trainingtitle {
	font-family: 'Neuton', 'Trebuchet MS', sans-serif;
	font-size: 350%;
	letter-spacing: -1px;
}

#note-group{
   margin: 0 0px;
   padding: 10px 5px 10px 15px;

   line-height: 1.3;
/*    background:#FAF8CC; */
   color: #000000;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	border: 5px solid gray;

   border-radius: 10px;
	margin-bottom: 10px;
}

#note-group a:link, #note-group a:visited {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 120%;
	font-weight: normal;
	
	/*
	color: #C11B17;
	background:#3E3535;
	*/
	
	color: #000000;
	background:#F2F2F2;;
	
	
	margin-right: 15px;
	line-height:50px;
	
	
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;	
    border-radius: 10px;
    border: solid 1px gray;
	padding-top:5px;
	padding-bottom:3px;
	padding-right:10px;
	padding-left:10px;
}

#update-history {
	color: #4E4E4E;
	margin-bottom:25px;
	padding:15px;
	border: 1px solid #E8E8E8;	
}

#minitoc {

	color: #4E4E4E;
	width: 40%;
	float: right;
	margin-left:30px;
	
	margin-bottom:30px;
	padding-top: 10px;
	padding-bottom:20px;
	border: 1px solid #E8E8E8;	
	padding-left:20px;
	padding-right:30px;
		
	line-height:30px;		
}

#news {

	margin-top:30px;
	margin-bottom:10px;
	padding-top: 10px;
	padding-bottom:20px;
	border:5px solid #E8E8E8;
	padding-left:20px;
	padding-right:30px;
	line-height:30px;	
}

.stress {
	color: #000000;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 150%
}

#blog {

	padding-top: 10px;
	padding-bottom:30px;
	border-bottom: 0px dashed gray;
	margin-right:15px;
	line-height:30px;	
}

#disqus_thread {
	padding-top:70px;
	font-size: 105%;
}

#sidebar {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 200px;
  padding: 20px 20px 0 0;
  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar h1 {
    font-family:Verdana, Geneva, sans-serif;
    font-size:23px;
    font-weight:normal;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 22px;
}

#sidebar a {
  text-decoration: none;  
}

#sidebar a:link,
#sidebar a:visited {
  color: black;
}

#sidebar a:hover {
/*  color: #f30; */
}

#mast {
	background: #cacaca;
	width:100%;
	height: 30px;
	border-bottom: 1px solid gray;
}

#footer {
	clear:both;
	width:100%
	bottom:0;
	height:60px;
	padding-top:40px;
	margin-top:70px;
	
	font-family: 'Neuton',"Lucida Console", Monaco, monospace;
	font-size:90%;
}

#creationdate {
    font-size: 80%;
    font-color: gray;
    font-family: "Source Code Pro", "DejaVuSansMono", Inconsolata, Consolas, Menlo, monospace;
}

#categories {
	width:500px;
	float:right;
	padding-bottom:5px;
	padding-top: 10px;
	padding-left: 20px;
	font-family: 'Neuton';
  font-size: 90%;
}

blockquote {
color: #gray;
font-style: italic;
font-family:'Courier New', Courier, monospace;
padding:20px;
background:#fff;
}
blockquote p:before {
content: '"';
font-size: 30px;
}
blockquote p:after {
content: '"';
font-size: 30px;
}

.boxed {
	border:1px solid gray ;
	padding:3px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size:15px;
}

#author {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:gray;
}

#sidebarright {
	float: right;
	width:300px;
	background: #FFFFC8;
	border: 1px solid #FFA500;
	padding: 20px;
	margin-left: 20px;
}

.footnotes li p {
	font-size: 90%;
/*	line-height:10px;*/
	line-height: 1.3
	color: black;
	font-weight:normal;
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:gray;
}

	.footnote li {
		line-height: .5;
	}

hr {
	border:1px solid #CACACA;
}

.trainingmodule {
	
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:10px;

	width:45%;
	height:350px;

	margin-left:3px;
	margin-right:5px;
	border: 1px solid #cacaca;
	margin-top:10px;
	float:left;
}

	.trainingmodule h1 {
		font-weight:normal;
		margin-bottom:10px;
	}

.trainingmodule-long {
	
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:10px;

	width:45%;
	height:730px;

	margin-left:3px;
	margin-right:5px;
	border: 1px solid #cacaca;
	margin-top:10px;
	float:right;
}

.trainingmodule-right {
	
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:10px;

	width:45%;
	height:350px;

	margin-left:3px;
	margin-right:5px;
	border: 1px solid #cacaca;
	margin-top:10px;
	float:left;
}


.elearning-spacer {
	padding-top: 20px;
	padding-bottom: 20px;
	clear:both;
	width:100%;
}

pre {

	margin-top: 15px;
	margin-bottom:15px;

  padding: 10px 5px 10px 15px;
  font-size: 75%;
  font-family: 'Source Code Pro' , Monaco, Consolas, "Lucida Console", monospace;
	border: 1px solid #cacaca;
	background: white;

	/*
  border: 1px solid #DEDEDE;
  background: #F5F5F5;
  color: #000;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;	
  border-radius: 10px;
  */

}

pre code, .keyword, .directive, .type, 
          .string, .function, .class, 
          .reserved, .content, .comment, 
          .predefined-type, .preprocessor, .tag,
          .attribute-name, .include, .predefined-constant, 
          .local-variable, .key, .class, .instance-variable,
          .symbol, .constant, .inline, .line-numbers,
          .integer, .char, .float {

			font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;

}

/* definition of styles for code highlighting */

.keyword, .key, .directive, .type, .reserved, .predefined-type, .tag, .class {
	color: #6e6eFF;
}

.predefined-constant {
	color: gray;
}

.line-numbers {

	font-size: 70%;
	padding-right: 10px;
	color: #8E8E8E;
	font-family: 'Source Code Pro', Courier, "Courier New", monospace;
}

.include, .preprocessor, .attribute-name {
	color: #CD7300;
}

.string {
	color: #6C0000;
}

.comment {
	color: : gray;
}

.function, .class  {
	color: #2828A8;
}

.local-variable {
	color: blue;
}
