
<author>
  Author: <a href='https://plus.google.com/+TedHagos?rel=author'>Ted Hagos</a>
</author>
<dateCreated>
	Date created: {{ page.date | date: "%B %d, %Y" }}
  {% if page.lastupdated %}
    <dateModified>
      <br/>
      Last updated: {{ page.lastupdated | "%B %d, %Y"}}
    </dateModified>
  {% endif %}
</dateCreated>

Url : <a href={{ page.url }}>http://thelogbox.com{{ page.url }}</a><br/>
Rss Feed : <a href="http://thelogbox.com/feed/index.xml">http://thelogbox.com/feed/index.xml</a><br/>
Copyright &copy; <a href="/">theLogBox.com</a>. All rights reserved <br/>



