<!--
<link href='http://fonts.googleapis.com/css?family=Neuton:300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Tauri' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>


<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>


<script src="//use.typekit.net/mvn1usv.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<script src="//use.typekit.net/mvn1usv.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

-->

<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed/" />

<meta charset="utf-8">

<link 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta name="keywords" content="{{page.tags | join: ' ,'}}">
<meta name="author" content="Ted Hagos">
<meta name="description" content="{{ page.description }}" />

<meta name="google-site-verification" content="Dg--5pO3MqOZk7aJ4jMia-MpnfcGdJaGIkYBJIDSkWU" />

<title>
  {% if post.categories.size > 0 %}
    {{ page.categories | join: ' ' }} , {{ page.title }} | theLogBox
  {% else %}
    {{ page.title }} | theLogBox
  {% endif%}
</title>

