<!DOCTYPE HTML>
<html>
  <head>
		{% include head.html %}
		{% include nostyle.html %}  
  </head>
  <body>
    
    <div class="running-head">   
      <div class='tutorial-writeup'>        
      get updates for  <a href='http://eepurl.com/HcFof' target='_blank'> android programming tutorial </a>
      {% include addthis.html %} 
      </div>
      
    </div>
    
    <div id="wrap">
        
     <article itemscope itemtype="http://schema.org/Article" class="withtoc">
     <header>          
      <div class='vspacer'></div>

      <div id="articletitle">{{ page.title }}</div>
      <div class='vspacer'></div>
    </header>
    
		  <div id="post">
        <div itemprop='articleBody'>
		    {{ content }}
        </div>
							
		  </div>
      {% include postmeta.html %}
      <a class="moot"
        title={{ page.title }}
        href="https://moot.it/i/thelogbox/android:{{ page.title }}">
        Comments 
      </a>  
      
		</article>
    
    <div class="toc">
      
      <ul>
      <li><a href="/android-programming-tutorial">Introduction</a></li>
      <li><a href="/android-how-much-java-do-you-need">How Much Java Do You Need</a></li>
      <li><a href="/android-background-information">Background Information</a></li>
      <li><a href="/android-install-sdk-windows">Dev Setup - Windows</a></li>
      <li><a href="/android-virtual-device">Virtual Device</a></li>
      <li><a href="/android-physical-device">Physical Device</a></li>      
      <li><a href="/android-getting-started">Getting Started</a></li>
      <li><a href="/android-activity">Activity and the UI</a></li>
      <li><a href="/android-linear-layout">Linear Layout</a></li>
      <li><a href="/android-layout-weights">Using Layout Weights</a></li>
      <li><a href="/android-scrolling-edittext-using-scrollview">Scrolling Text</a></li>
      <li><a href="/logcat">Debugging with LogCat</a></li>
      <li><a href="/android-logging-and-adb-logcat">LogCat and ADB</a></li>
      <li><a href="/android-event-handling-overview">Event Handling Overview</a></li>
      <li><a href="/android-event-handling-declarative">Declarative Event Handling</a></li>
      <li><a href="/android-event-handling-programmatic">Programmatic Event Handling</a></li>
      <li><a href="/android-event-handling-declarative">Declarative Event Handling</a></li>
      <li><a href="/android-database-programming-basics">Database Programming</a></li>
      <li><a href="/android-check-connectivity">Network Connectivity</a></li>
      <li><a href="/android-location-api">GEO Location</a></li>
      <li><a href="/simple-camera-code">Using the Camera</a></li>
      <li><a href="/android-java-recording-voice">Working with Audio</a></li>
      <li><a href="/signing-an-android-app">Signing your App</a></li>
  
      <li><a href="/blog-choosing-books-for-android">Bibliography</a></li>
      <li><a href="/blog-studying-and-practicing-android">Study Tips</a></li>
    </ul>
    
    <hr/>
    
    <ul>
      <li><a href="/developing-with-eclipse">Eclipse Development Environment</a></li>
      <li><a href="/android-create-project-eclipse">Creating a project in Eclipse</a></li>
      <li><a href="/developing-with-netbeans">Netbeans Development Environment</a></li>
      <li><a href="/android-studio">Android Studio</a></li>
      <li><a href="/android-project-workflow">Project Workflow</a></li>
    </ul>
    
    </div>    
    
    
    </div>  <!--  div wrap -->

		<footer>{% include footer.html%}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>
