<!DOCTYPE HTML>
<html>
  <head>
		{% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/style_tutorial.css" />  
  </head>
  <body>

    <mast><a href="/">theLogBox.com</a>/android</mast>

    <article itemscope itemtype="http://schema.org/Article" >    
      <headline>{{ page.title }}</headline>
      <author>
        By <a href='https://plus.google.com/+TedHagos?rel=author'>Ted Hagos</a>
      </author>
      <dateCreated>
        written on {{ page.date | date: "%B %d, %Y" }}
        {% if page.lastupdated %}
          updated on {{ page.lastupdated | "%B %d, %Y"}}
        {% endif %}
      </dateCreated>

		  <articleBody itempprop="articleBody">
		    {{ content }}	
		  </articleBody>
      
      <!--
      <table bgcolor="#f1f1f1" cellpadding="10" id="book">
        <tr>
          <td width="25%">
            <img src="http://titlepages.leanpub.com/minimumandroidprogramming/small" width="100%"/> 
          </td>
          <td width="75%">
            Ted is writing an android book for beginners. It's a work in progress.
            <a href="https://leanpub.com/minimumandroidprogramming/read" target="_blank">You  
            can read it (free) online</a> over at LeanPub.
          </td>
        </tr>
      </table>
      -->
      
		</article>
    
    
    <toc>
      <div align="center">
      <h2>Android Programming Tutorials</h2>
      </div> 
    <div class="toc">      
      <ul>
      <li><a href="/android/android-key-concepts">Key Concepts in Android</a></li>
      <li><a href="/android/android-what-you-need-to-know-before">What you need to know</a></li>
      <li><a href="/android-install-sdk-windows">Dev Setup - Windows</a></li>
      <li><a href="/android-virtual-device">Virtual Device</a></li>
      <li><a href="/android-physical-device">Physical Device</a></li>
      
      <li><a href="/android/android-project-structure">Project Creation</a></li>
      <li><a href="/android/android-create-project-cli">Create a Project using CLI</a></li>
      <li><a href="#">Create a Project using Android Studio</a></li>
      <li><a href="/android-activity">Activity and the UI</a></li>
      <li><a href="/android-linear-layout">Linear Layout</a></li>
      <li><a href="/android/layout-weights">Layout Weights</a></li>
      <li><a href="/android-scrolling-edittext-using-scrollview">Scrolling Text</a></li>
      <li><a href="/logcat">Debugging with LogCat</a></li>
      <li><a href="/android-logging-and-adb-logcat">LogCat and ADB</a></li>
      <li><a href="/android-event-handling-overview">Event Handling Overview</a></li>
      <li><a href="/android-event-handling-declarative">Declarative Event Handling</a></li>
      <li><a href="/android-event-handling-programmatic">Programmatic Event Handling</a></li>
      <li><a href="/android-event-handling-declarative">Declarative Event Handling</a></li>
      <li><a href="/android-database-programming-basics">Database Programming</a></li>
      <li><a href="/android-check-connectivity">Network Connectivity</a></li>
      <li><a href="/android-location-api">GEO Location</a></li>
      <li><a href="/simple-camera-code">Camera</a></li>
      <li><a href="/android-java-recording-voice">How to use the Mic</a></li>
      <li><a href="/signing-an-android-app">Signing your App</a></li>
  
      <li><a href="/blog-choosing-books-for-android">Bibliography</a></li>
      <li><a href="/blog-studying-and-practicing-android">Study Tips</a></li>
    </ul>
      
    <ul>
      <li><a href="/developing-with-eclipse">Eclipse Development Environment</a></li>
      <li><a href="/android-create-project-eclipse">Creating a project in Eclipse</a></li>
      <li><a href="/developing-with-netbeans">Netbeans Development Environment</a></li>
      <li><a href="/android-studio">Android Studio</a></li>
      <li><a href="/android-project-workflow">Project Workflow</a></li>
      <li><a href="/cannot-find-buildxml">Cannot find build.xml</a></li>
    </ul>
    
    </div>
    </toc>    
    {% include disqus.html %}
    <footer>{% include footer.html %}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>
