<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/style_tutorial.css" />  
  </head>
  <body>

    <mast><a href="/">theLogBox.com</a>/c#</mast>

    <article itemscope itemtype="http://schema.org/Article" >    
      <headline>{{ page.title }}</headline>
      <author>
        By <a href='https://plus.google.com/+TedHagos?rel=author'>Ted Hagos</a>
      </author>
      <dateCreated>
        written on {{ page.date | date: "%B %d, %Y" }}
        {% if page.lastupdated %}
          <dateModified>
            updated on {{ page.lastupdated | "%B %d, %Y"}}
          </dateModified>
        {% endif %}
      </dateCreated>

      <articleBody itempprop="articleBody">
        {{ content }} 
      </articleBody>      
    </article>
    
    
    <toc>
      <div align="center">
      <h2>C# .NET Tutorials</h2>
      </div> 

    <div class="toc"> 
      <ul>
        <li><a href="/csharp/who-should-read">Audience</a></li>
        <li><a href="/csharp/introduction">Introduction to programming</a></li>
        <li><a href="/csharp/environment">Environment</a></li>
        <li><a href="/csharp/hello-world">Hello World</a></li>
        <li><a href="/csharp-programming-notes">Fundamentals</a></li>
        
      </ul>
    </div>  

    </toc>    
    {% include disqus.html %}
    <footer>{% include footer.html %}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>

