<!DOCTYPE HTML>
<html>
  <head>
		{% include head.html %}
		{% include nostyle.html %}
    
    <!--
		<link href="../css/style.min.css" rel="stylesheet" type="text/css" />
    -->
  
  </head>
  <body>
    
    <div class="android-head">   
      <div class='tutorial-writeup'>
        GET UPDATES FOR          
        <a href='http://eepurl.com/Hcw5X' target='_blank'>HTML5 PROGRAMMING</a>
        
      </div>
      
    </div>
    
    <div id="wrap">
        
     <article itemscope itemtype="http://schema.org/Article" class="withtoc">
     <header>          
      <div class='vspacer'></div>
      <div id="articletitle">{{ page.title }}</div>
      <div class='vspacer'></div>
    </header>
    <!--
    <article itemscope itemtype="http://schema.org/Article">
    -->
		  <div id="post">
        <div itemprop='articleBody'>
		    {{ content }}
        </div>
							
		  </div>
		</article>
    
    <div class="toc">
      <h1>CONTENTS</h1>
      
      <ul>
      <li><a href="/working-with-html5">Introduction</a></li>
      <li><a href="/html5-what-you-will-need">What you need for Dev</a></li>
      <li><a href="#">Markup Basics</a></li>
      <li><a href="/html5-canvas-basics">Canvas - Basics</a></li>
      <li><a href="/html5-moving-straight-line">Canvas -  Moving Objects</a></li>
      <li><a href="/html5-canvas-acceleration">Canvas - Accelerating Objects</a></li>
      <li><a href="/html5-canvas-handling-clicks">Canvas - Event handling</a></li>
      <li><a href="/html5-canvas-objects-with-different-speeds">Canvas - Moving at Different speeds</a></li>
      <li><a href="/html5-canvas-managing-complexity">Canvas - Managing Complexity</a></li>
      <li><a href="/html5-database-programming">Database Programming with WebSQL</a></li>
    </ul>
    </div>    
    

    </div>  <!--  div wrap -->
    
		<footer>{% include footer.html%}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>
