<!DOCTYPE HTML>
<html>
  <head>
		{% include head.html %}
		{% include nostyle.html %}
    
    <!--
		<link href="../css/style.min.css" rel="stylesheet" type="text/css" />
    -->
  
  </head>
  <body>
    
    <div class="running-head">   
      <div class='tutorial-writeup'>             
        JAVA PROGRAMMING
      </div>
    </div>
    
    <div id="wrap">
        
     <article itemscope itemtype="http://schema.org/Article" class="withtoc">
     <header>          
      <div class='vspacer'></div>
      <div id="articletitle">{{ page.title }}</div>
      <div class='byline'>
      by: <a href='https://plus.google.com/100317694679641558339' 'rel=author'>Ted Hagos</a>
    </div>
      <div class='vspacer'></div>
    </header>
    <!--
    <article itemscope itemtype="http://schema.org/Article">
    -->
		  <div id="post">
        <div itemprop='articleBody'>
		    {{ content }}
        </div>
							
		  </div>
      <a class="moot"
        title={{ page.title }}
        href="https://moot.it/i/thelogbox/java:{{ page.title }}">
        Comments 
      </a>  
		</article>
    
    <div class="toc">
      
      <ul>
      <li><a href="/java-introduction">Introduction</a></li>
      <li><a href="/java-coding-process">Coding Process</a></li>
      <li><a href="#">Key Concepts</a></li>
      <li><a href="#">Data Types</a></li>
      <li><a href="#">Program Flow</a></li>
      <li><a href="#">Reference Type</a></li>
      <li><a href="#">Type System</a></li>
      <li><a href="#">Object Oriented Programming</a></li>
      <li><a href="#">Data Structures</a></li>
    </ul>
    </div>    
    

    </div>  <!--  div wrap -->

		<footer>{% include footer.html%}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>
