<!DOCTYPE HTML>
<html>
  <head>
		{% include head.html %}
		{% include nostyle.html %}
    
    <!--
		<link href="../css/style.min.css" rel="stylesheet" type="text/css" />
    -->
  
  </head>
  <body>
    
    <div class="android-head">   
      <div class='tutorial-writeup'>             
        Notes on Java Programming. These are collected stuff from lesson plans, lectures, programming notes. 
      
    </div>
    
    <div id="wrap">
        
     <article itemscope itemtype="http://schema.org/Article" class="withtoc">
     <header>          
      <div class='vspacer'></div>
      <div id="articletitle">{{ page.title }}</div>
      <div class='vspacer'></div>
    </header>
    <!--
    <article itemscope itemtype="http://schema.org/Article">
    -->
		  <div id="post">
        <div itemprop='articleBody'>
		    {{ content }}
        </div>
							
		  </div>
		</article>
    
    <div class="toc">
      <h1>CONTENTS</h1>
      
      <ul>
      <li><a href="#">xckd</a></li>
      <li><a href="#">xckd</a></li>
      <li><a href="#">xckd</a></li>
      <li><a href="#">xckd</a></li>
    </ul>
    </div>    
    

    </div>  <!--  div wrap -->
    {% include disqus.html %}
		<footer>{% include footer.html%}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>
