<!DOCTYPE HTML>
<html>
  <head>
		{% include head.html %}
		{% include nostyle.html %}
    
    <!--
		<link href="../css/style.min.css" rel="stylesheet" type="text/css" />
    -->
  
  </head>
  <body>

    <div class='feature-banner'>
      <div class='feature-banner-text'>
        {{ page.title }}
      </div>
    </div>

    <div id="wrap">
        
     <article itemscope itemtype="http://schema.org/Article" >
     <header>          
      <!--<div id="articletitle">{{ page.title }}</div> -->
    </header>
    <!--
    <article itemscope itemtype="http://schema.org/Article">
    -->
		  <div id="post">
        <div itemprop='articleBody'>
		    {{ content }}
        </div>
							
		  </div>
      
		</article>
    
    <div class="toc">
      <!--
      <iframe width="200" height="320" src="https://leanpub.com/javalessons/embed" frameborder="0" allowtransparency="true"></iframe>
      -->
      Core Java  
      <ul>
      <li><a href="/java-introduction">Introduction</a></li>
      <li><a href="/java-coding-process">Coding Process</a></li>
      <li><a href="#">Key Concepts</a></li>
      <li><a href="#">Data Types</a></li>
      <li><a href="#">Program Flow</a></li>
      <li><a href="#">Reference Type</a></li>
      <li><a href="#">Type System</a></li>
      <li><a href="#">Object Oriented Programming</a></li>
      <li><a href="#">Data Structures</a></li>
    </ul>
    </div>    
    
    <div class="promo">
      {% include postmeta.html %}   
    </div>   
    </div>  <!--  div wrap -->

		<footer></footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>
