<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/style_tutorial.css" />  
  </head>
  <body>

    <mast><a href="/">theLogBox.com</a>/javascript</mast>

    <article itemscope itemtype="http://schema.org/Article" >    
      <headline>{{ page.title }}</headline>
      <author>
        By <a href='https://plus.google.com/+TedHagos?rel=author'>Ted Hagos</a>
      </author>
      <dateCreated>
        {{ page.date | date: "%B %d, %Y" }}
      </dateCreated>

      <articleBody itempprop="articleBody">
        {{ content }} 
      </articleBody>      
    </article>
    
    
    <toc>
      <div align="center">
      <h2>JavaScript Tutorials</h2>
      </div> 

    <div class="toc">
      <ul>
       <li><a href="/javascript/javascript-introduction/">Introduction</a></li>
      <li><a href="/javascript-core-environment-setup">Tools</a></li>
      <li><a href="/javascript-code-structure">Code Structure</a></li>
      <li><a href="/javascript/javascript-conditions">Conditions</a></li>
      <li><a href="/javascript-data-types">Typing</a></li>
      <li><a href="/javascript-functions">Functions</a></li>
      <li><a href="/javascript-keywords">Keywords</a></li>
      <li><a href="/javascript-program-flow">Program Flow</a></li>
      <li><a href="/javascript-complex-types">Complex Types</a></li>
      <li><a href="/javascript-anonymous-functions">Anonymous Functions</a></li>
      <li><a href="/javascript-objects">Objects</a></li>
      <li><a href="/javascript-objects-functions">Objects and Functions</a></li>
      <li><a href="/javascript-inheritance">Inheritance</a></li>
      <li><a href="/javascript-guessing-game">Guessing Game</a></li>
      <li><a href="/workshop-javascript-batch-1">RD JS WorkShop B1</a></li>
    </ul>
    </div>

    </toc>    
    {% include disqus.html %}
    <footer>{% include footer.html %}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>

