<!DOCTYPE HTML>
<html>
  <head>
		{% include head.html %}
		{% include nostyle.html %}
    
    <!--
		<link href="../css/style.min.css" rel="stylesheet" type="text/css" />
    -->
  
  </head>
  <body>

    <div class='feature-banner'>
      <div class='feature-banner-text'>
        {{ page.title }}
        {% include postmeta.html %}
      </div>
    </div>

    <div id="wrap">
        
     <article itemscope itemtype="http://schema.org/Article" >
     <header>          
      <!--<div id="articletitle">{{ page.title }}</div> -->
    </header>
    <!--
    <article itemscope itemtype="http://schema.org/Article">
    -->
		  <div id="post">
        <div itemprop='articleBody'>
		    {{ content }}
        </div>
							
		  </div>    
		</article>
    
    <div class="toc">
      <ul>
      <li><a href="/install-ssh-on-debian">SSH Server installation</a></li>
      <li><a href="/easy-way-to-install-print-server-linux">Print Server installation</a></li>
      <li><a href="/install-clp315-on-linux-print-server">Samsung CLP 315</a></li>
      <li><a href="/connect-windows-to-cups-printer">Connect Windows to CUPS printer</a></li>
      <li><a href="/file-sharing-osx-linux">File Sharing setup</a></li>
      <li><a href="/wireless-linux-music-player">Wireless Music Player</a></li>
      <li><a href="/automatically-backup-mysql-database">Automatic Backup of MySQL</a></li>
      <li><a href="/remote-desktop-to-ubuntu-from-windows">Windows RDP to Ubuntu</a></li>
      <li><a href="/send-receive-sms-messages-usb-modem-linux">Send Receive SMS via USB modem</a></li>
      <li><a href="/rip-youtube-videos-linux-osx">Rip YouTube videos</a></li>
      <li><a href="/linux-download-accelerator-cli">Download accelerator</a></li>
    </ul>
    </div>    
    
    <div class="promo">
   
    </div>       
    </div>  <!--  div wrap -->

		<footer>{% include footer.html %}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>
