<!DOCTYPE HTML>
<html>
  <head>
		{% include head.html %}
		{% include nostyle.html %}
    
    <!--
		<link href="../css/style.min.css" rel="stylesheet" type="text/css" />
    -->
  
  </head>
  <body>

    <div class='feature-banner'>
      <div class='feature-banner-text'>
        OSX | iOS
      </div>
    </div>    
    <div id="wrap">
        
     <article itemscope itemtype="http://schema.org/Article" class="withtoc">
     <header>          
      <div id="articletitle">{{ page.title }}</div>
    </header>
    <!--
    <article itemscope itemtype="http://schema.org/Article">
    -->
		  <div id="post">
        <div itemprop='articleBody'>
		    {{ content }}
        </div>
							
		  </div>
		</article>
    
    <div class="toc">
      Mac Notes
    <ul>
      <li><a href="/mac-mini-microphone-hack">Mac Mini Mic Hack</a></li>
      <li><a href="/mac-python-virtual-environment">Python Virtual Environment</a></li>
      <li><a href="/problem-issh-vim-ipad">iSSH and Prompt</a></li>
      <li><a href="#"></a></li>
      <li><a href="/connect-mac-osx-to-cups-printer">Connect OSX to CUPS print server</a></li>
    </ul>
    </div>    
    
    <div class="promo">
      {% include postmeta.html %}   
    </div>       
    </div>  <!--  div wrap -->

		<footer></footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>
