<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/style_tutorial.css" />  
  </head>
  <body>

    <mast><a href="/">theLogBox.com</a>/mac</mast>

    <article itemscope itemtype="http://schema.org/Article" >    
      <headline><h1>{{ page.title }}</h1></headline>
      
      <articleBody itempprop="articleBody">
        {{ content }} 
      </articleBody>      
    </article>
        
    <toc>
      <div align="center">
      <h2>Mac Tips</h2>
      </div> 

    <h2>Other Mac Tutorials</h2>>
    <div class="toc">
    <ul>
      <li><a href="/mac-mini-microphone-hack">Mac Mini Mic Hack</a></li>
      <li><a href="/mac-python-virtual-environment">Python Virtual Environment</a></li>
      <li><a href="/problem-issh-vim-ipad">iSSH and Prompt</a></li>
      <li><a href="/install-kyocera-km1820-osx">Hook up a Kyocera 1820 printer</a></li>
      <li><a href="/connect-mac-osx-to-cups-printer">Connect OSX to CUPS print server</a></li>
      <li><a href="/installing-mysql-osx-lion">MySQL on OSX</a></li>
    </ul>
    </div>  

    </toc>    
    {% include disqus.html %}
    <footer>{% include footer.html %}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>

