<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/style_tutorial.css" />  
  </head>
  <body>

    <mast><a href="/">theLogBox.com</a>/phonegap</mast>

    <article itemscope itemtype="http://schema.org/Article" >    
      <headline>{{ page.title }}</headline>
      <author>
        By <a href='https://plus.google.com/+TedHagos?rel=author'>Ted Hagos</a>
      </author>
      <dateCreated>
        written on {{ page.date | date: "%B %d, %Y" }}
        {% if page.lastupdated %}
          <dateModified>
            updated on {{ page.lastupdated | "%B %d, %Y"}}
          </dateModified>
        {% endif %}
      </dateCreated>

      <articleBody itempprop="articleBody">
        {{ content }} 
      </articleBody>      
    </article>
    
    
    <toc>
      <div align="center">
      <h2>PhoneGap Tutorials</h2>
      </div> 

    <div class="toc">
      <ul>
      <li><a href="/mobile-app-development-phonegap">Introduction</a></li>
      <li><a href="/phonegap-development-environment-ios">iOS Setup</a></li>
      <li><a href="/phonegap-development-environment-android">Android Setup</a></li>
      <li><a href="/phonegap-getting-started">Getting Started</a></li>
      <li><a href="#">Basic Web Site App</a></li>
      <li><a href="#">Hybrid Apps</a></li>
      <li><a href="#">Prettyfing the UI</a></li>
      <li><a href="/phonegap-database-programming">Database Programming</a></li>
      <li><a href="/phonegap-network-connectivity">Network Connectivity</a></li>
      <li><a href="#">Device Ready</a></li>
      <li><a href="#">Detecting the Menu Button</a></li>
      <li><a href="#">GEO Location</a></li>
      <li><a href="#">Basic Game Programming</a></li>
      <li><a href="#">Getting to the App Stores</a></li>
      <li><a href="#">The iOS 7 Look and Feel</a></li>
      <li><a href="#">Single Page Apps</a></li>
    </ul>
    </div> 

    </toc>    
    {% include disqus.html %}
    <footer>{% include footer.html %}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>

