<!DOCTYPE HTML>
<html>
  <head>
		{% include head.html %}
		{% include nostyle.html %}
    
    <!--
		<link href="../css/style.min.css" rel="stylesheet" type="text/css" />
    -->
  
  </head>
  <body>
    
    <div class="running-head">   
      <div class='tutorial-writeup'>
        get updates for 
         <a href='http://eepurl.com/HhC_v' target='_blank'> phonegap  programming </a>
      </div>
      
    </div>
    
    <div id="wrap">
        
     <article itemscope itemtype="http://schema.org/Article" class="withtoc">
     <header>          
      <div class='vspacer'></div>
      <div id="articletitle">{{ page.title }}</div>
      <div class='vspacer'></div>
    </header>
    <!--
    <article itemscope itemtype="http://schema.org/Article">
    -->
		  <div id="post">
        <div itemprop='articleBody'>
		    {{ content }}
        </div>
							
		  </div>
      
      <a class="moot"
        title={{ page.title }}
        href="https://moot.it/i/thelogbox/phonegap:{{ page.title }}">
        Comments 
      </a>  
      
		</article>
    
    <div class="toc">
      
      <ul>
      <li><a href="/mobile-app-development-phonegap">Introduction</a></li>
      <li><a href="/phonegap-development-environment-ios">iOS Setup</a></li>
      <li><a href="/phonegap-development-environment-android">Android Setup</a></li>
      <li><a href="/phonegap-getting-started">Getting Started</a></li>
      <li><a href="#">Basic Web Site App</a></li>
      <li><a href="#">Hybrid Apps</a></li>
      <li><a href="#">Prettyfing the UI</a></li>
      <li><a href="/phonegap-database-programming">Database Programming</a></li>
      <li><a href="/phonegap-network-connectivity">Network Connectivity</a></li>
      <li><a href="#">Device Ready</a></li>
      <li><a href="#">Detecting the Menu Button</a></li>
      <li><a href="#">GEO Location</a></li>
      <li><a href="#">Basic Game Programming</a></li>
      <li><a href="#">Getting to the App Stores</a></li>
      <li><a href="#">The iOS 7 Look and Feel</a></li>
      <li><a href="#">Single Page Apps</a></li>
    </ul>
    </div>    
    

    </div>  <!--  div wrap -->

		<footer>{% include footer.html%}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>
