<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/style_tutorial.css" />  
  </head>
  <body>

    <mast><a href="/">home</a>/<a href="/websphere/">websphere</a></mast>

    <article itemscope itemtype="http://schema.org/Article" >    
      <headline><h1>{{ page.title }}</h1></headline>
      
      <articleBody itempprop="articleBody">
        {{ content }} 
      </articleBody>      
    </article>
    
    <!--
    <h2>Other Tutorials in WebSphere</h2>
    <toc>
    <div class="toc">        
      <ul>
      <li><a href="#">Introduction</a></li>
      <li><a href="/websphere/install-liberty-profile-stand-alone">Liberty Profile installation</a></li>
      <li><a href="/websphere/server-creation">Creating Servers</a></li>
      <li><a href="/websphere/server-creation-eclipse">Server Creation in Eclipse</a></li>
      <li><a href="#">JSP Deployment</a></li>
      <li><a href="#">Servlet Deployment</a></li>
      <li><a href="#">JDBC</a></li>
      <li><a href="#">EJB Deployment</a></li>
      <li><a href="#">Working with a Message Driven Bean</a></li>
      <li><a href="#">Tuning</a></li>
    </ul>
    </div>  

    </toc>
    -->    
    <footer>{% include footer.html %}</footer>
  </body>
</html>

