<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/style_tutorial.css" />  
  </head>
  <body>

    <mast><a href="/">theLogBox.com</a>/websphere</mast>

    <article itemscope itemtype="http://schema.org/Article" >    
      <headline>{{ page.title }}</headline>
      
      <!--
      <author>
        By <a href='https://plus.google.com/+TedHagos?rel=author'>Ted Hagos</a>
      </author>
      <dateCreated>
        written on {{ page.date | date: "%B %d, %Y" }}
        {% if page.lastupdated %}
          <dateModified>
            updated on {{ page.lastupdated | "%B %d, %Y"}}
          </dateModified>
        {% endif %}
      </dateCreated>
      -->

      <articleBody itempprop="articleBody">
        {{ content }} 
      </articleBody>      
    </article>
    
    
    <toc>
      <h2 class="center">WebSphere</h2> 
      
    <div class="toc">        
      <ul>
      <li><a href="#">Introduction</a></li>
      <li><a href="/websphere/install-liberty-profile-stand-alone">Liberty Profile installation</a></li>
      <li><a href="/websphere/server-creation">Creating Servers</a></li>
      <li><a href="/websphere/server-creation-eclipse">Server Creation in Eclipse</a></li>
      <li><a href="#">JSP Deployment</a></li>
      <li><a href="#">Servlet Deployment</a></li>
      <li><a href="#">JDBC</a></li>
      <li><a href="#">EJB Deployment</a></li>
      <li><a href="#">Working with a Message Driven Bean</a></li>
      <li><a href="#">Tuning</a></li>
    </ul>
    </div>  

    </toc>    
    {% include disqus.html %}
    <footer>{% include footer.html %}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>

