<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/style_tutorial.css" />  
  </head>
  <body>

    <mast><a href="/">theLogBox.com</a>/wordpress</mast>

    <article itemscope itemtype="http://schema.org/Article" >    
      <headline>{{ page.title }}</headline>
      <author>
        By <a href='https://plus.google.com/+TedHagos?rel=author'>Ted Hagos</a>
      </author>
      <dateCreated>
        {{ page.date | date: "%B %d, %Y" }}
      </dateCreated>

      <articleBody itempprop="articleBody">
        {{ content }} 
      </articleBody>      
    </article>
    
    
    <toc>
      <div align="center">
      <h2>WordPress Tutorials</h2>
      </div> 

    <div class="toc">
      <ul>
      <li><a href="/wordpress/wordpress-theoretical-minimum">Theoretical minimum</a></li>
      <li><a href="/wordpress/wordpress-tools">Tools</a></li>
      <li><a href="/wordpress-setup">Setup</a></li>
      <li><a href="/wordpress/wordpress-html">HTML</a></li>
      <li><a href="#">Common html tags</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="/wordpress/wordpress-php">PHP</a></li>
      <li><a href="#">Wordpress makeup</a></li>
      <li><a href="/wordpress/wordpress-installation">Installation and Configuration</a></li>  
      <li><a href="#">Using Wordpress</a></li>  
      <li><a href="#">Custom theme</a></li>  
      <li><a href="#">Templates</a></li>  
      <li><a href="#">Extending Wordpress</a></li>  
    </ul>
    </div> 

    </toc>    
    {% include disqus.html %}
    <footer>{% include footer.html %}</footer>
    {% include ga.html%}
    {% include statcounter.html %}
  </body>
</html>

